*{
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
	font-family: "MicroSoft Yahei";
}

.main-wrapper{
	margin: 0 auto;
	overflow: auto;
}

.left{
	width: 200px;
	background: white;
	margin: 20px;
	float: left;
}

img{
	width: 80px;
	height: 80px;
	margin: 20px;
}

.teamname{
	position: relative;
	right: 8px;
	bottom: 50px;
}

.middle{
	width: 65%;
	background: white;
	margin: 20px;
	padding: 20px;
	float: left;
}

.right{
	background: white;
	width: 120px;
	float: left;
	margin: 20px;
	text-align: center;
}

p{
	text-indent: 2em;
}

footer{
	position: absolute;
	bottom: 0px;
	clear: all;
	background: #cecece;
	width: 100%;
	padding: 10px;
	text-align: center;
}