*{
	box-sizing: border-box;
	font-family: "MicroSoft Yahei";
}

.container{
	width: 100%;
	padding: 10px;
}

[class*='col-']{
	float: left;
	background: #eee;
	height: 50px;
	margin: 10px;
	border: 1px solid #999;
}

@media (min-width: 769px){
	.col-md-1{
		width: calc(8.33% - 20px);
	}
	.col-md-2{
		width: calc(16.67% - 20px);
	}
	.col-md-3{
		width: calc(25% - 20px);
	}
	.col-md-4{
		width: calc(33.33% - 20px);
	}
	.col-md-5{
		width: calc(41.67% - 20px); 
	}
	.col-md-6{
		width: calc(50% - 20px);
	}
}

@media (max-width: 768px){
	.col-sm-1{
		width: calc(8.33% - 20px);
	}
	.col-sm-2{
		width: calc(16.66% - 20px);
	}
	.col-sm-3{
		width: calc(25% - 20px);
	}
	.col-sm-4{
		width: calc(33.33% - 20px);
	}
	.col-sm-5{
		width: calc(41.67% - 20px); 
	}
	.col-sm-6{
		width: calc(50% - 20px);
	}
	.col-sm-7{
		width: calc(58.33% - 20px);
	}
	.col-sm-8{
		width: calc(66.66% - 20px);
	}
	.col-sm-9{
		width: calc(75% - 20px);
	}
	.col-sm-10{
		width: calc(83.33% - 20px);
	}
	.col-sm-11{
		width: calc(91.67% - 20px);
	}
	.col-sm-12{
		width: calc(100% - 20px);
	}
}

footer{
	width: 100%;
	text-align: center;
	
}